<!-- src/app/pages/signup/signup.component.html -->
<div class="signup-page">
  <app-alert-popup
  [visible]="showAlert"
  [message]="alertMessage"
  [showConfirm]="false"
  (okClick)="onAlertOkClick()">
</app-alert-popup>

  <div class="signup-box">
    <h1 class="title">Sign up</h1>
    <h2 class="subtitle">Pustak – Your Smart Book Corner 📚</h2>

    <input type="text" placeholder="First Name" #firstName />
    <input type="text" placeholder="Last Name" #lastName />
    <input type="email" placeholder="Email ID" #email />
    <input type="password" placeholder="Password" #password />
    <input type="password" placeholder="Confirm Password" #confirmPassword />
    <input type="text" placeholder="Gender" #gender />

    <button class="signup-button" (click)="onSignup(firstName, lastName, email, password, confirmPassword, gender)">Sign up</button>

    <button class="login-button" (click)="navigateToLogin()">Existing User? Log in</button>
  </div>
</div>
