<div class="orders-container">
    <div *ngFor="let order of orderItems; let i = index" class="order-item row mb-3">
      
      <div class="col-md-1 text-center">
        <h5>{{ i + 1 }}</h5> <!-- Serial Number -->
      </div>
      
      <div class="col-md-3 d-flex flex-column">
       
        <div *ngFor="let item of order.details" class="order-details">
          <div class="row">
            <div class="col-md-2 text-center">
              <img [src]="'/' + item.coverFileName" alt="{{ item.title }}" class="img-fluid rounded">
            </div>
          
            <div class="col-md-4 d-flex flex-column justify-content-center">
              <h6>{{ item.title }}</h6>
              <small class="text-muted">by {{ item.author }}</small> <!-- Author below Title -->
            </div>
          
            <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
              <h6>₹{{ item.totalPrice }}</h6>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Total Amount for this order -->
      <div class="col-md-2 text-center">
        <h5>Order Amount: ₹{{ order.cartTotal }}</h5>
      </div>
    </div>
  
    <!-- Display the overall total amount for all orders -->
    <div class="total-container mt-4">
      <div>Total Amount: ₹{{ getTotalAmount() }}</div>
    </div>
  </div>
  