<app-navbar (cartClicked)="onCartAlert()" ></app-navbar>
<div *ngIf="showCartAlert" class="cart-alert-overlay">
  <div class="cart-alert-box">
    <p>{{ alertMessage }}</p>
    <button (click)="onOkClick()">OK</button>
  </div>
</div>
<div class="container mt-4">
  <div *ngIf="book" class="row">
    
    <!-- Book Image -->
    <div class="col-md-4 text-center">
      <img [src]="'/' + book.coverFileName" alt="{{ book.title }}" class="img-fluid rounded shadow" />

    </div>

    <!-- Book Info -->
    <div class="col-md-8">
      <h2>{{ book.title }}</h2>
      <h5 class="text-muted">by {{ book.author }}</h5>
      <h4 class="text-success mt-3">₹{{ book.price }}</h4>

      <!-- Buttons -->
      <div class="mt-4">
        <button class="btn btn-primary me-2" (click)="addToCart()">
          <i class="fas fa-shopping-cart"></i> Add to Cart
        </button>
        
        <button class="btn btn-outline-danger" (click)="addToWishlist()">
          ❤️ Add to Wishlist
        </button>
      </div>

      <!-- Detailed Info -->
      <div class="mt-5">
        <h5>Book Description</h5>
        <p class="text-muted">
          {{ book.description }}
        </p>
      </div>
    </div>
  </div>
</div>
